<%- include('../partials/admin-header') %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Edit Category</h2>
    </div>
    <div>
      <input
        type="text"
        placeholder="Search Categories"
        class="form-control bg-white"
      />
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form
            action="/admin/edit-category?id=<%-category._id %>"
            method="POST"
          >
            <input type="text" style="display: none" value="" name="catId" />
            <div class="mb-4">
              <label for="product_name" class="form-label">Name</label>
              <input
                value="<%-category.categoryName %> "
                name="categoryName"
                type="text"
                placeholder="Type here"
                class="form-control"
                id="product_name"
              />
            </div>
            <div class="mb-4">
              <label class="form-label">Description</label>
              <textarea
                name="categoryDescription"
                placeholder="Type here"
                class="form-control"
              >
 <%-category.categoryDescription %></textarea
              >
            </div>
            <div class="d-grid">
              <button class="btn btn-primary">Update category</button>
            </div>
          </form>
        </div>
      </div>
      <!-- .row // -->
    </div>
    <!-- card body .// -->
  </div>
  <!-- card .// -->
</section>
<!-- content-main end// -->
<%- include('../partials/admin-footer') %>
