<%- include('../partials/admin-header') %>
<section>
  <br />
  <ul
    class="nav nav-pills"
    id="pills-tab"
    role="tablist"
    style="margin-left: 10px"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-home"
        type="button"
        role="tab"
        aria-controls="pills-home"
        aria-selected="true"
      >
        View Offers
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-profile"
        type="button"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
      >
        Add/Edit Offer
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active mt-30"
      id="pills-home"
      role="tabpanel"
      aria-labelledby="pills-home-tab"
    >
      <table id="" class="table">
        <thead>
          <tr>
            <th scope="col">Category Name</th>
            <th scope="col">Offer Percentage</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Remove Offer</th>
          </tr>
        </thead>
        <tbody>
          <% category.forEach(category=>{ %>
          <tr>
            <% if(category.offer) {%>

            <td><%=category.categoryName %></td>

            <td><%=category.offer %> %</td>

            <td><%=category.ExpiryDate %></td>

            <td>
              <button
                onclick="deleteCat('<%=category._id %>')"
                type="submit"
                class="btn btn-md rounded font-sm hover-up"
              >
                Remove
              </button>
            </td>
          </tr>
          <% } %> <% }) %>
          <br />
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="pills-profile"
      role="tabpanel"
      aria-labelledby="pills-profile-tab"
    >
      <div class="registration-form">
        <form action="/admin/admin-addCategoryOffer" method="post">
          <div class="col-lg-10 mt-30">
            <div class="card mb-4">
              <div class="card-header">
                <h4>Offer</h4>
              </div>
              <div class="card-body">
                <div class="mb-4">
                  <label for="product_name" class="form-label"
                    >Offer Name</label
                  >
                  <input
                    type="text"
                    class="form-control item"
                    id="offerName"
                    name="offerName"
                    placeholder="Offer Name"
                  />
                </div>

                <div class="mb-4">
                  <label class="form-label">Expiry Date</label>
                  <input
                    type="date"
                    class="form-control item"
                    name="expDate"
                    placeholder="Coupon Expiry Date"
                  />
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-4">
                      <label class="form-label"> Offer Percentage </label>
                      <div class="row gx-2">
                        <input
                          type="percentage"
                          class="form-control item"
                          name="offerPercentage"
                          placeholder="Offer Percentage"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="card-body">
                    <div class="row gx-2">
                      <div class="mb-4">
                        <label class="form-label">Categories</label>
                        <select class="form-select" name="category">
                          <option>Categories</option>

                          <% category.forEach(element=>{ %>
                          <option><%=element.categoryName %></option>
                          > <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-10">
                    <div class="card mb-4">
                      <div class="card-body">
                        <button
                          type="submit"
                          class="btn btn-md rounded font-sm hover-up"
                        >
                          Publish
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- card end// -->
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function deleteCat(catId) {
    console.log(catId);
    $.ajax({
      url: "/admin/delete-offer?id=" + catId,
      method: "get",
    });
  }
</script>
<%- include('../partials/admin-footer') %>
